.layout {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 1rem;
    padding: 1rem;
  }
  .name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .brewed {
    font-weight: bold;
  }
  .picture {
    max-height: 400px;
  }
  .favorite {
    display: flex;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .link {
    padding: 8px 16px;
  }